.dark-medium-contrast {
  --md-sys-color-primary: rgb(203 222 245);
  --md-sys-color-surface-tint: rgb(181 200 223);
  --md-sys-color-on-primary: rgb(20 39 56);
  --md-sys-color-primary-container: rgb(128 147 167);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(214 221 231);
  --md-sys-color-on-secondary: rgb(32 38 46);
  --md-sys-color-secondary-container: rgb(139 145 154);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(240 212 239);
  --md-sys-color-on-tertiary: rgb(49 32 51);
  --md-sys-color-tertiary-container: rgb(161 137 162);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(19 19 21);
  --md-sys-color-on-background: rgb(228 226 227);
  --md-sys-color-surface: rgb(19 19 21);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(67 71 76);
  --md-sys-color-on-surface-variant: rgb(218 220 226);
  --md-sys-color-outline: rgb(175 178 184);
  --md-sys-color-outline-variant: rgb(141 144 150);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(228 226 227);
  --md-sys-color-inverse-on-surface: rgb(41 42 43);
  --md-sys-color-inverse-primary: rgb(56 74 92);
  --md-sys-color-primary-fixed: rgb(209 228 251);
  --md-sys-color-on-primary-fixed: rgb(0 18 35);
  --md-sys-color-primary-fixed-dim: rgb(181 200 223);
  --md-sys-color-on-primary-fixed-variant: rgb(38 56 73);
  --md-sys-color-secondary-fixed: rgb(221 227 237);
  --md-sys-color-on-secondary-fixed: rgb(11 18 25);
  --md-sys-color-secondary-fixed-dim: rgb(193 199 209);
  --md-sys-color-on-secondary-fixed-variant: rgb(48 55 63);
  --md-sys-color-tertiary-fixed: rgb(246 218 245);
  --md-sys-color-on-tertiary-fixed: rgb(27 11 30);
  --md-sys-color-tertiary-fixed-dim: rgb(217 190 217);
  --md-sys-color-on-tertiary-fixed-variant: rgb(66 48 69);
  --md-sys-color-surface-dim: rgb(19 19 21);
  --md-sys-color-surface-bright: rgb(68 68 70);
  --md-sys-color-surface-container-lowest: rgb(7 7 8);
  --md-sys-color-surface-container-low: rgb(29 30 31);
  --md-sys-color-surface-container: rgb(39 40 41);
  --md-sys-color-surface-container-high: rgb(50 50 52);
  --md-sys-color-surface-container-highest: rgb(61 62 63);
}
